@import "./m-sexpr-view/struct-editor.css";
@import "./pad-canvas.css";

html, body {
  margin: 0; padding: 0;
  width: 100%; height: 100%;
  overflow: hidden;
  user-select: none;
}
body {
  background: #ffffff;
  display: flex;
}
#view {
  flex-grow: 1;
  min-width: 0;
  min-height: 0;
  background: #dddddd;
}
.panel {
  width: 24em;
  flex-shrink: 0;
  flex-grow: 0;
  background: #f4f4f4;
  border-right: 1px solid #cccccc;
  overflow: auto;
  display: flex;
  flex-direction: column;
  padding: 16px;
}
.section {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
  padding-top: 8px;
  border-top: #bbbbbb dashed 1px;
}
.section:first-child {
  margin-top: 0;
  padding-top: 0;
  border-top: none;
}
.head {
  color: #0088dd;
  font-size: 20px;
  font-weight: bold;
}
.title {
  color: #555555;
  font-size: 17px;
  margin-top: 8px;
  font-weight: bold;
}
.textfield {
  margin-top: 8px;
  background: #fff;
  padding: 4px;
  color: #555555;
  outline: none;
  border-top: none;
  border-left: none;
  border-right: 1px solid #dddddd;
  border-bottom: 2px solid #e4e4e4;
  font-family: monospace;
  font-size: 13px;
  max-height: 200px;
  overflow-y: auto;
}
.textfield:focus {
  outline: 1px solid #0088ff;
  border-color: #ffffff;
}
#t-export {
  user-select: all;
}
.but {
  background: #ffffff;
  color: #666666;
  font-size: 14px;
  text-align: center;
  padding: 8px;
  margin-top: 12px;
  border-right: 1px solid #dddddd;
  border-bottom: 2px solid #e4e4e4;
  cursor: pointer;
}
.but:active {
  background: #eeeeee;
}
.entry {
  margin-top: 8px;
  display: flex;
  align-items: center;
}
.entry::before {
  content: attr(label);
  font-size: 14px;
  color: #666666;
  min-width: 10em;
  flex-shrink: 0;
}
.entry[suffix]::after {
  content: attr(suffix);
  margin-left: 4px;
  min-width: 7em;
  font-size: 14px;
  color: #888888;
  flex-shrink: 0;
}
.entry > input[type="text"] {
  min-width: 0;
  flex-grow: 1;
  flex-shrink: 1;
  background: #ffffff;
  padding: 4px;
  color: #666666;
  outline: none;
  border-top: none;
  border-left: none;
  border-right: 1px solid #dddddd;
  border-bottom: 2px solid #e4e4e4;
}
.entry > input[type="text"]:focus {
  border-bottom-color: #0088ff;
  color: #444444;
}
.entry > input[type="checkbox"] {
  appearance: none;
  margin-right: auto;
  width: 20px; height: 20px;
  background: #ffffff;
  outline: none;
  border-top: none;
  border-left: none;
  border-right: 1px solid #dddddd;
  border-bottom: 2px solid #e4e4e4;
  overflow: visible;
  position: relative;
}
.entry > input[type="checkbox"]:checked::after {
  content: " ";
  display: block;
  width: 6px; height: 12px;
  border-right: 2px solid #0088ff;
  border-bottom: 2px solid #0088ff;
  position: absolute;
  bottom: calc(24% - 1px); right: 60%;
  transform-origin: bottom right;
  transform: rotate(45deg);
}
label.entry {
  cursor: pointer;
}
.databox {
  margin-top: 8px;
  max-height: 200px;
  background: #ffffff;
  color: #666666;
  border-top: none;
  border-left: none;
  border-right: 1px solid #dddddd;
  border-bottom: 2px solid #e4e4e4;
  overflow: auto;
  min-width: auto !important;
  min-height: 2em !important;
}
.databox:focus {
  outline: 1px solid #0088ff;
  border-color: #ffffff;
}
.st-rt {
  --def-bg-c: #ffffff;
  --def-fg-c: #444444;
  --fg-c: #444444;
  --fg-fd-c: #666666;
  --struct-ln-c: #aaaaaa;
  --sel-c: #99ccff;
  --cursor-c: #0044dd;
  --focus-ln-c: #0088ff;
  --focus-bg-c: #0088ff11;
  font-family: "Hack", monospace;
  --size: 14px;
  --lh: 18px;
  padding-bottom: 1em;
}
.st-mp-label {
  display: inline-grid;
  grid-template: 1fr 1fr / 1fr 1fr;
  background: #f4f4f4;
  border-right: 1px solid #dddddd;
  border-bottom: 2px solid #e4e4e4;
  font-size: 14px;
  line-height: 20px;
  padding: 2px;
  padding-left: 52px;
  position: relative;
  margin: 0 2px;
}
.st-mp-label::before {
  content: "Txt";
  position: absolute;
  top: 50%;
  left: 28px;
  color: #aaaaaa;
  font-variant: small-caps;
  transform: translate(-50%, -50%);
  font-size: 20px;
  font-weight: bolder;
}
.st-mp-label > .i-text {
  grid-area: 1 / 1 / 2 / 3;
  margin: 2px 2px;
  padding: 0 4px;
  background: #ffffff;
  border-top: 2px solid #e4e4e4;
  border-left: 1px solid #dddddd;
  min-width: 12em;
}
.st-mp-label > .i-text::before {
  content: "Text";
  color: #aaaaaa;
  margin-right: 4px;
}
.st-mp-label > .i-pos {
  margin: 2px 2px;
  padding: 0 4px;
  background: #ffffff;
  border-top: 2px solid #e4e4e4;
  border-left: 1px solid #dddddd;
}
.st-mp-label > .i-pos::before {
  content: attr(axis);
  color: #aaaaaa;
  margin-right: 4px;
}
.st-mp-point {
  display: inline-flex;
  background: #f4f4f4;
  border-right: 1px solid #dddddd;
  border-bottom: 2px solid #e4e4e4;
  font-size: 14px;
  line-height: 20px;
  padding: 2px;
  padding-left: 28px;
  position: relative;
  margin: 0 2px;
  align-items: center;
}
.st-mp-point::before {
  content: " ";
  position: absolute;
  top: 50%;
  left: 17px;
  width: 6px;
  height: 6px;
  border-radius: 100%;
  background: #aaaaaa;
  transform: translate(-50%, -50%);
}
.st-mp-point::after {
  content: " ";
  position: absolute;
  top: 50%;
  left: 17px;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  border: 2px solid #aaaaaa;
  transform: translate(-50%, -50%);
}
.st-mp-point > .i-id {
  color: #444444;
  margin: 2px 2px;
  padding: 0 4px;
}
.st-mp-point > .i-pos {
  margin: 2px 2px;
  padding: 0 4px;
  background: #ffffff;
  border-top: 2px solid #e4e4e4;
  border-left: 1px solid #dddddd;
  min-width: 4em;
}
.st-mp-point > .i-pos::before {
  content: attr(axis);
  color: #aaaaaa;
  margin-right: 4px;
}
.st-mp-sline {
  display: inline-flex;
  flex-direction: column;
  background: #f4f4f4;
  border-right: 1px solid #dddddd;
  border-bottom: 2px solid #e4e4e4;
  font-size: 14px;
  line-height: 20px;
  padding: 2px;
  padding-left: 52px;
  position: relative;
  margin: 0 2px;
  min-width: 280px;
  width: min-content;
}
.st-mp-sline::before {
  content: " ";
  position: absolute;
  top: calc(50% + 5px);
  left: 25px;
  width: 12px;
  height: 12px;
  border-left: 2px solid #aaaaaa;
  border-top: 2px solid #aaaaaa;
  transform: translate(-50%, -50%) rotate(45deg);
}
.st-mp-sline::after {
  content: " ";
  position: absolute;
  top: calc(50% + 4px);
  left: 42px;
  width: 12px;
  height: 12px;
  border-left: 2px solid #aaaaaa;
  transform: translate(-50%, -50%) rotate(45deg);
}
.st-mp-sline > .i-id {
  color: #444444;
  margin: 2px 2px;
  padding: 0 4px;
}
.st-mp-sline > .i-modbox {
  display: flex;
  flex-direction: column;
  min-height: 20px;
  margin: 2px 2px;
  padding: 0;
  background: #ffffff;
  border-top: 2px solid #e4e4e4;
  border-left: 1px solid #dddddd;
  min-width: 4em;
  color: #888888;
}
.st-mp-sline > .i-modbox > .i-entry {
  background: #ffffff;
}
.st-mp-sline > .i-modbox > .i-entry + .i-entry {
  border-top: 1px solid #dddddd;
}
.st-mp-sline > .i-modbox > .i-entry:hover {
  background: #f4f4f4;
}
.st-mp-sline > .i-modbox > .i-entry::before {
  display: inline-block;
  content: attr(type);
  min-width: 6em;
  border-right: 1px solid #dddddd;
  margin-left: 6px;
}
.st-mp-sline > .i-modbox > .i-entry::after {
  content: attr(args);
  margin-left: 6px;
}
.st-mp-sline > .i-pts {
  display: block;
  white-space: break-spaces;
  flex-direction: column;
  min-height: 20px;
  margin: 2px 2px;
  padding: 0 6px;
  background: #ffffff;
  border-top: 2px solid #e4e4e4;
  border-left: 1px solid #dddddd;
  min-width: 4em;
  color: #888888;
}
.st-mp-land {
  display: inline-flex;
  flex-direction: column;
  background: #f4f4f4;
  border-right: 1px solid #dddddd;
  border-bottom: 2px solid #e4e4e4;
  font-size: 14px;
  line-height: 20px;
  padding: 2px;
  padding-left: 52px;
  position: relative;
  margin: 0 2px;
  min-width: 280px;
  width: min-content;
}
.st-mp-land::before {
  content: " ";
  position: absolute;
  top: 50%;
  left: 28px;
  width: 30px;
  height: 14px;
  background: #2299ff;
  clip-path: polygon(0 100%, 33% 0, 67% 75%, 100% 0, 100% 100%);
  transform: translate(-50%, -50%);
}
.st-mp-land > .i-id {
  color: #444444;
  margin: 2px 2px;
  padding: 0 4px;
}
.st-mp-land > .i-lis {
  display: block;
  white-space: break-spaces;
  flex-direction: column;
  min-height: 20px;
  margin: 2px 2px;
  padding: 0 6px;
  background: #ffffff;
  border-top: 2px solid #e4e4e4;
  border-left: 1px solid #dddddd;
  min-width: 4em;
  color: #888888;
}