.pd-rt {
  position: relative;
  overflow: hidden;
}

.pd-cav {
  position: absolute;
  top: var(--pos-y);
  left: var(--pos-x);
}

.pd-gui {
  position: absolute;
  top: var(--pos-y);
  left: var(--pos-x);
  pointer-events: none;
}
